body {
    margin: 0;
}
.title {
    width: 100%;
    margin: 0;
}
#icon {
    width: 20%;
    margin: 65px 90px;
    border-radius: 50%;
    border: 25px solid darkgray;
}
div {
    background-color: lightgray;
    margin: 0;
}